<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.questtermuxlab.vncpanel">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="Termux VNC Panel"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <layout
                android:defaultHeight="720dp"
                android:defaultWidth="1080dp"
                android:minHeight="540dp"
                android:minWidth="720dp" />
        </activity>
    </application>
</manifest>
