<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.questtermuxlab.agentlauncher">

    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <queries>
        <package android:name="com.termux" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="Termux Agent Launcher"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <layout
                android:defaultHeight="540dp"
                android:defaultWidth="720dp"
                android:minHeight="420dp"
                android:minWidth="560dp" />
        </activity>
    </application>
</manifest>
