<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.mesmerprism.questtermuxlab.codexdemo"
    android:versionCode="@VERSION_CODE@"
    android:versionName="@VERSION_NAME@">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="33" />
    <application
        android:allowBackup="false"
        android:label="Codex Quest Demo"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
